@font-face {
  font-family: ice;
  src: url("IceValley.otf");
}
html,
body {
  background-color: rgb(24, 24, 31);
  width: 99%;
  height: 99%;
}
.fundo {
  background-color: rgb(24, 24, 31);
  width: 99%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.central {
  margin: auto;
  width: 50%;
  height: 80%;
  background: rgb(25, 25, 32);
  padding: 10px;
  text-align: center;
  position: relative;
}
.central h1 {
  color: azure;
  font-family: ice;
  font-size: 500%;
}

.esquerda {
  bottom: 0;
  float: right;
}
.tasks {
  position: relative;
  font-family: ice;
  font-size: 200%;
  text-align: center;
  border-radius: 3%;
}

#task {
  background-color: slategray;
  border-radius: 0.8em;
}

#taskList {
  background-color: rgb(24, 24, 31);
  border-radius: 0.8em;
  color: aliceblue;
}
.cheka {
  float: right;
  width: 17px;
  height: 17px;
  border-radius: 5%;
}


