/* css reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
    ul, ol, li {
        list-style: none;
    }
/* fim do css reset */

@font-face {
  font-family: ice;
  src: url("IceValley.otf");
}
html,
body {
  background-color: rgb(24, 24, 31);
  width: 99%;
  height: 99%;
}
.fundo {
  background-color: rgb(24, 24, 31);
  width: 99%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.central {
  margin: auto;
  width: 50%;
  height: 80%;
  background: rgb(25, 25, 32);
  padding: 10px;
  text-align: center;
  position: relative;
}
.central h1 {
  color: azure;
  font-family: ice;
  font-size: 500%;
}

.esquerda {
  bottom: 0;
  float: right;
}

.tasks {
  position: relative;
  font-family: ice;
  font-size: 200%;
  text-align: center;
  border-radius: 3%;
}

#task {
  position: relative;
  background-color: slategray;
  border-radius: 0.8em;
  width: 79%;
  -ms-word-break: break-all;
     word-break: break-all;
  float: left;
}

#taskList {
  position: relative;
  background-color: rgb(24, 24, 31);
  border-radius: 0.8em;
  padding: 1  0% 0%;
  width: 100%;
  color: aliceblue;
  display: inline-block;
}

#cheka {
  position: relative;
  vertical-align: middle;
  float: left;
  border-radius: 50%;
}

#cheka:focus {
  outline:0;
}
